/* TODO: External CSS (Внешний CSS) */
/* #name {
  color: white;
  background-color: blue;
} */

/* TODO: External CSS (Внешний CSS) */
/* .name {
  color: white;
  background-color: blue;
} */

/* TODO: Practice: CSS Basics (Практика: основы CSS) */
/* h1 {
  color: white;
  background-color: blue;
} */

/* TODO: Практика: Adding CSS (Добавление CSS) */
/* body {
  background-color: #c3c3c3;
}

h1 {
  color: #4c6ebb;
} */

/* TODO: Practice: Handling Events (Практика: обработка событий) */
/* body {
  background-color: #c3c3c3;
}

h1 {
  color: #4c6ebb;
} */

/* TODO: HTML5 Canvas (Холст HTML5) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: HTML5 Canvas (Практика: Холст HTML5) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Practice: Creating a Canvas (Создание холста) */
/* body {
  background-color: #c3c3c3;
}

h1 {
  color: #4c6ebb;
}

canvas {
  width: 100%;
  background-color: black;
} */

/* TODO: Drawing a Line (Рисование линии) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Drawing a Line (Рисование линии) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Rectangle (Прямоугольник) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Drawing an Arc (Рисование дуги) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Drawing a Circle (Рисование круга) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Practice: Rectangles & Circles (Практика: прямоугольники и круги) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Drawing on Canvas (Рисунок на холсте) */
/* body {
  background-color: #c3c3c3;
}

h1 {
  color: #4c6ebb;
}

canvas {
  width: 100%;
  background-color: black;
} */

/* TODO: Styles (Стили) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Styles (Стили) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Styles (Стили) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: HTML Colors (Цвета HTML) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Styles (Стили) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Multiple Shapes (Несколько форм) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Drawing Text (Рисуем текст) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Images (Картинки) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Images (Картинки) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Animations (Анимации) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Practice: Animations (Практика: Анимации) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Practice: Animation (Практика: Анимация) */
/* body {
  background-color: #c3c3c3;
}

h1 {
  color: #4c6ebb;
}

canvas {
  width: 100%;
  background-color: black;
} */

/* TODO: Game Loops (Игровые циклы) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Frame Rate (Частота кадров) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Frame Rates (Частота кадров) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Collision Detection (Обнаружение столкновений) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Practice: Collision Detection (Практика: обнаружение столкновений) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
} */

/* TODO: Practice: Game Loop (Практика: Игровые циклы) */
/* body {
  background-color: #c3c3c3;
}

h1 {
  color: #4c6ebb;
}

canvas {
  width: 100%;
  background-color: black;
} */

/* TODO: User Input (Пользовательский ввод) */
/* #canvas {
  width: 100%;
  border: 1px solid black;
}
button {
  width: 50px;
  height: 30px;
  margin-bottom: 5px;
} */

/* TODO: Practice: User Input (Практика: пользовательский ввод) */
/* body {
  background-color: #c3c3c3;
}

h1 {
  color: #4c6ebb;
}

canvas {
  width: 100%;
  background-color: black;
} */

/* TODO: Coin Collector (Коллекционер монет) */
/* body {
  width: fit-content;
  background-color: black;
}
#canvas {
  display: flex;
  justify-content: center;

  background-color: blue;
  height: 100%;
  border: 3px solid azure;
}
button {
  width: 50px;
  height: 30px;
  margin-bottom: 5px;
} */

/* TODO: Practice: Adding Gravity (Практика: Добавление гравитации) */
body {
  width: fit-content;
  background-color: #c3c3c3;
}

h1 {
  color: #4c6ebb;
}

canvas {
  width: 100%;
  background-color: black;
}
