/* TODO: External CSS (Внешний CSS) */
/* #name {
  color: white;
  background-color: blue;
} */

/* TODO: External CSS (Внешний CSS) */
/* .name {
  color: white;
  background-color: blue;
} */

/* TODO: Practice: CSS Basics (Практика: основы CSS) */
/* h1 {
  color: white;
  background-color: blue;
} */

/* TODO: Практика: Adding CSS (Добавление CSS) */
/* body {
  background-color: #c3c3c3;
}

h1 {
  color: #4c6ebb;
} */
