/* Rules & Selectors (Правила и селекторы) */
/* p {
  color: red;
} */

/* TODO: Selectors (Селекторы) */
/* p {
  color: red;
}  */

/* TODO: Selectors (Селекторы) */
/* p {
  color: green;
} */

/* TODO: Multiple Selectors (Несколько селекторов) */
/* h1,
p {
  color: red;
} */

/* TODO: Class Selector (Выбор класса) */
/* .intro {
  color: red;
  background-color: yellow;
} */

/* TODO: Selectors (Селекторы) */
/* #intro {
  color: red;
  background-color: yellow;
} */

/* TODO: Selectors (Селекторы) */
/* li strong {
  color: purple;
} */

/* TODO: Style Inheritance (Наследование стиля) */
/* header {
  color: red;
  font-size: 24px;
} */

/* TODO: Practice: CSS Selectors (Практика: CSS Селекторы) */
/* footer {
  color: #595959;
}

p strong {
  color: #2493df;
} */

/* TODO: Styling Text (Стилизация текста) */
/* .intro {
  color: red;
} */

/* TODO: Color Values (Цветовые значения) */
/* .intro {
  color: #47759b;
} */

/* TODO: Color Values (Цветовые значения) */
/* .intro {
  color: rgb(71, 117, 155);
} */

/* TODO: Font Size (Размер шрифта) */
/* .intro {
  font-size: 32px;
} */

/* TODO: Font Family (Семейство шрифтов) */
/* .intro {
  font-family: Arial;
} */

/* TODO: Fonts (Шрифты) */
/* .intro {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
} */

/* TODO: font-style (стиль шрифта) */
/* .intro {
  font-style: italic;
  color: red;
  font-size: 32px;
} */

/* TODO: font-weight (вес шрифта) */
/* .intro {
  font-weight: 900;
} */

/* TODO: Practice: Styling Text (Практика: Стилизация текста) */
/* h1 {
  font-size: 20px;
}
label {
  font-size: 16px;
  font-weight: bold;
}
footer {
  color: #595959;
  font-size: 14px;
}
p strong {
  color: #2493df;
} */

/* TODO: text-transform (преобразование текста) */
/* .intro {
  text-transform: uppercase;
}
.outro {
  text-transform: capitalize;
} */

/* TODO: text-decoration (декорация текста) */
/* .intro {
  text-decoration: underline;
}
.overline {
  text-decoration: overline;
}
.outro {
  text-decoration: line-through;
} */

/* TODO: text-shadow (тень текста) */
/* h1 {
  text-shadow: 3px 2px 3px green;
} */

/* TODO: text-shadow (тень текста) */
/* h1 {
  text-shadow: 3px 2px 3px red, 2px 2px 1px blue;
} */

/* TODO: Text Alignment (Выравнивание текста) */
/* h1 {
  text-align: center;
}
.outro {
  text-align: right;
} */

/* TODO: Line Height (Высота линии) */
/* .intro {
  line-height: 1.8;
} */

/* TODO: Letter & Word Spacing (Расстояние между буквами и словами) */
/* h1 {
  letter-spacing: 2px;
}
.intro {
  letter-spacing: 3px;
  word-spacing: 3px;
} */

/* TODO: Practice: Font Styles (Практика: Стилизация Шрифта) */
/* h1 {
  font-size: 20px;
  letter-spacing: 2px;
}
label {
  font-size: 16px;
  font-weight: bold;
}
footer {
  color: #595959;
  font-size: 14px;
  text-align: center;
}
p strong {
  color: #2493df;
} */

/* TODO: Margin (Поле) */
/* p {
  margin: 20px 50px 20px 50px;
  padding: 5px 5px 5px 5px;
  border: 5px solid black;
  text-align: center;
  font-size: 100px;
  background-color: yellow;
}
.box {
  border: 5px solid red;
  background-color: aqua;
} */

/* TODO: Margin (Поле) */
/* p {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  border: 3px solid black;
}
.box {
  border: 3px solid red;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
} */

/* TODO: Padding (Отступ) */
/* p {
  margin: 5px 10px 5px 10px;
  padding: 10px 10px 10px 10px;
  border: 3px solid black;
}
.box {
  border: 3px solid red;
} */

/* TODO: Box Size (Размер коробки) */
/* .box {
  width: 50%;
  border: 3px solid red;
} */

/* TODO: Alternative Box Model (Альтернативная блочная модель) */
/* p {
  margin: 5px 10px 5px 10px;
  padding: 4px 7px 4px 7px;
  width: 200px;
  box-sizing: border-box;
  border: 3px solid black;
}
.box {
  border: 3px solid red;
} */

/* TODO: Box Models (Коробчатые модели) */
/* .box1 {
  border: 3px solid red;
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  width: 200px;
  height: 100px;
}
.box2 {
  border: 3px solid red;
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  width: 200px;
  height: 100px;
  box-sizing: border-box;
} */

/* TODO: Practice: The Box Model (Практика: Коробочная модель) */
/* h1 {
  font-size: 20px;
  letter-spacing: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}
label {
  font-size: 16px;
  font-weight: bold;
}
footer {
  color: #595959;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
p strong {
  color: #2493df;
}

section {
  padding: 10px;
} */

/* TODO: Border (Граница) */
/* .box {
  border: 30px groove red;
  text-align: center;
  font-size: 50px;
  margin: 10px;
} */

/* TODO: Border Radius (Радиус границы) */
/* .box {
  border: 3px solid green;
  border-radius: 1px 10px 10px 10px;
} */

/* TODO: Background (Фон) */
/* .box {
  background-color: blue;
  height: 100px;
  padding: 10px;
  color: white;
} */

/* TODO: Background Image (Фоновая картинка) */
/* .box {
  background-image: url('https://sololearnassets.azureedge.net/sl-logo.png');
  height: 150px;
  padding: 10px;
} */

/* TODO: Background Image (Фоновая картинка) */
/* .box {
  background-image: url('https://sololearnassets.azureedge.net/sl-logo.png');
  background-repeat: repeat-x;
  height: 150px;
  padding: 10px;
} */

/* TODO: Background Image (Фоновая картинка) */
/* .box {
  background-image: url('https://sololearnassets.azureedge.net/sl-logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
} */

/* TODO: Background Image (Фоновая картинка) */
/* .box1 {
  background-image: url('https://sololearnassets.azureedge.net/sl-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  padding: 10px;
  border: 1px solid black;
}

.box2 {
  background-image: url('https://sololearnassets.azureedge.net/sl-logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  padding: 10px;
  border: 1px solid black;
} */

/* TODO: Practice: Backgrounds (Практика: Фон) */
/* h1 {
  font-size: 20px;
  letter-spacing: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}
label {
  font-size: 16px;
  font-weight: bold;
}
footer {
  color: #595959;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
p strong {
  color: #2493df;
}
section {
  padding: 10px;
  background-color: white;
}
body {
  background-color: #e0e0e0;
}
#buy {
  background-color: #687373;
  margin-top: 10px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #fcfcfc;
} */

/* TODO: Styling Lists (Списки стилей) */
/* ul {
  list-style-type: lower-roman;
} */

/* TODO: Styling Lists (Списки стилей) */
/* ul {
  list-style-type: circle;
  list-style-position: inside;
} */

/* TODO: Styling Lists (Списки стилей) */
/* ul {
  list-style-image: url('https://www.sololearn.com/images/bullet.jpg');
} */

/* TODO: Styling Lists (Списки стилей) */
/* ul {
  list-style: square outside none;
} */

/* TODO: Styling Links (стилизация ссылок) */
/* a {
  color: green;
} */

/* TODO: Styling Links (стилизация ссылок) */
/* a {
  color: green;
}
a:hover {
  background-color: yellow;
  border: 1px solid black;
} */

/* TODO: Styling Links (стилизация ссылок) */
/* a {
  color: green;
  text-decoration: underline;
}
a:hover {
  background-color: yellow;
} */

/* TODO: Styling Links (стилизация ссылок) */
/* body {
  margin: 0;
}
ul {
  padding: 0;
  margin-top: 10px;
  width: 100%;
}
li {
  display: inline;
}
a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  margin-left: 1%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 31%;
  color: white;
  background-color: green;
}
a:hover {
  background: blue;
} */

/* TODO: Practice: Styling Lists (Практика: Стилизация списков) */
/* h1 {
  font-size: 20px;
  letter-spacing: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}
label {
  font-size: 16px;
  font-weight: bold;
}
footer {
  color: #595959;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
p strong {
  color: #2493df;
}
section {
  padding: 10px;
  background-color: white;
}
body {
  background-color: #e0e0e0;
}
#buy {
  background-color: #687373;
  margin-top: 10px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #fcfcfc;
}
ul {
  list-style-type: square;
  list-style-position: inside;
  list-style-image: none;
  padding-left: 30px;
} */

/* TODO: Styling Tables (Таблицы стилей) */
/* table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid black;
  text-align: center;
} */

/* TODO: Styling Tables (Таблицы стилей) */
/* table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
} */

/* TODO: Styling Tables (Таблицы стилей) */
/* table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
th {
  color: white;
  background-color: black;
} */

/* TODO: Styling Tables (Таблицы стилей) */
/* table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #d3d3d3;
}
tr:nth-child(3) {
  background-color: #b0d1e4;
} */

/* TODO: Styling Tables (Таблицы стилей) */
/* table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #d3d3d3;
}
tr:nth-child(even) {
  background-color: #b0d1e4;
}
tr:nth-child(odd) {
  background-color: #6aabd1;
} */

/* TODO: Practice: Styling Tables (Практика: Таблицы стилей) */
/* h1 {
  font-size: 20px;
  letter-spacing: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}
label {
  font-size: 16px;
  font-weight: bold;
}
footer {
  color: #595959;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
p strong {
  color: #2493df;
}
section {
  padding: 10px;
  background-color: white;
}
body {
  background-color: #e0e0e0;
}
#buy {
  background-color: #687373;
  margin-top: 10px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #fcfcfc;
}
ul {
  list-style-type: square;
  list-style-position: inside;
  list-style-image: none;
  padding-left: 30px;
}
table {
  width: fit-content;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid black;
  padding: 10px;
}
th {
  background-color: #2493df;
  color: white;
}
#price {
  color: #2493df;
} */

/* TODO: Styling Forms (Стилизация форм) */
/* input {
  border: 1px solid green;
  width: 100%;
  padding: 5px;
}
label {
  font-weight: bold;
  color: green;
} */

/* TODO: Styling Forms (Стилизация форм) */
/* input[type='text'],
input[type='email'] {
  border: 1px solid green;
  width: 100%;
  padding: 5px;
}
label {
  font-weight: bold;
  color: green;
} */

/* TODO: Styling Forms (Стилизация форм) */
/* input[type='text'],
input[type='email'] {
  border: 1px solid green;
  width: 100%;
  padding: 5px;
  color: green;
  font-weight: bold;
}
label {
  font-weight: bold;
  color: green;
} */

/* TODO: Styling Forms (Стилизация форм) */
/* input[type='text'],
input[type='email'] {
  border: 1px solid green;
  width: 100%;
  padding: 5px;
}
label {
  font-weight: bold;
  color: green;
}
input[type='button'] {
  background-color: green;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
} */

/* TODO: Styling Forms (Стилизация форм) */
/* input[type='text'],
input[type='email'] {
  border: 1px solid green;
  width: 100%;
  padding: 5px;
  border-radius: 20px;
}
label {
  font-weight: bold;
  color: green;
}
input[type='button'] {
  background-color: green;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
}
input[type='button']:hover {
  background-color: gray;
} */

/* TODO: Practice: Styling Forms (Практика: Стилизация форм) */
/* h1 {
  font-size: 20px;
  letter-spacing: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}
label {
  font-size: 16px;
  font-weight: bold;
}
footer {
  color: #595959;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
p strong {
  color: #2493df;
}
section {
  padding: 10px;
  background-color: white;
}
body {
  background-color: #e0e0e0;
}
#buy {
  background-color: #687373;
  margin-top: 10px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #fcfcfc;
}
ul {
  list-style-type: square;
  list-style-position: inside;
  list-style-image: none;
  padding-left: 30px;
}
table {
  width: fit-content;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid black;
  padding: 10px;
}
th {
  background-color: #2493df;
  color: white;
}
#price {
  color: #2493df;
}
input[type='number'] {
  padding: 2px;
  text-align: center;
  width: 50px;
}
input[type='button'] {
  background-color: #2493df;
  border: none;
  font-weight: bold;
  font-size: 16px;
  color: white;
} */
